@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto&display=swap');

body {
    background-color: #27496D;
    padding: 0;
    margin: 0;
    border: 0;
}

* {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    /*border: solid #5B6DCD 1px;*/
}
.row {
    width: 100%;
    display: flex;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.header {
    background-color: #142850;
    color: #e9d57c;
    font-family: 'Poller One', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    height: 15vh;
    align-items: center;
    padding: 0px 50px 0px 50px;
}
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.85vw;
    align-items: center;
    padding: 0;
}
.navlink{
    flex: 1 1 auto;
    text-align: center;
}
@media (min-width: 1920px) {
    .navlink {
        font-size: 18pt;
    }
}
@media (max-width: 480px) {
    .navlink {
        font-size: 7pt;
    }

}
a.navlink:link {
    color: #e9d57c;
}
a.navlink:visited {
    color: #e9d57c
}
a.navlink:hover {
    color: #c0a261
}
.title {
    justify-content: center;
    font-family: 'Poller One', Verdana, Geneva, Tahoma, sans-serif;
    color: #c98724;
    font-size: 48pt;
    padding: 36px 10vw 36px 10vw;
    margin: 0;
    text-align: center;
}
.content {
    justify-content: center;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    color: #d4d3d3;
}
a.txtlink:link {
    color: #a1b9dd;
}
a.txtlink:visited {
    color: #a1b9dd;
}
a.txtlink:hover {
    color: #68778d;
}
.content-box {
    padding: 8px;
    margin: 0 0 20px 0;
}
.img {
    border: 5px solid #c98724;
}
.list {
    padding: 0 0 0 23px;
}
.sect-title {
    padding: 36px 0 18px 0;
}
.example-code {
    display: inline-block;
    background-color: #142850;
    color: #e9d57c;
    font-size: 14pt;
    padding: 10px;
}